---
import { Icon } from "astro-icon/components";

import type { HTMLAttributes } from "astro/types";
import { cn } from "@app/utils";
import type { SkillData } from "../lib/data";

export type Props = HTMLAttributes<"button"> & Omit<SkillData, "categories">;
const { icon, name, class: clazz, ...props } = Astro.props;
---

<button
  {...props}
  class={cn(
    "flex select-none flex-col items-center justify-center rounded-md border border-neutral-800 p-4 transition-colors duration-100 hover:bg-neutral-800/20",
    clazz,
  )}
>
  <Icon
    class="mb-4 mt-2 size-[3em]"
    name={icon}
  />

  <span class="block truncate text-balance text-center text-sm font-medium">
    {name}
  </span>
</button>
