---
import { Icon } from "astro-icon/components";

import type { Category } from "@app/assets/data/skills";
import Card from "@app/ui/components/base/card.astro";

export type Props = {
  name: string;
  icon: string;
  categories: Category[];

  variant?: "default" | "compact";
};

const { name, icon, categories, variant = "default" } = Astro.props;
---

<Card class="px-4 py-8">
  <Icon name={icon} width={48} height={48} />

  {
    variant === "default" && (
      <div class="mt-4 flex flex-col items-center justify-center gap-2 space-y-1">
        <p class="select-all truncate text-balance text-center text-[15px] font-medium">
          {name}
        </p>

        <div class="flex justify-center gap-2">
          {categories.map((category) => (
            <span class="inline-flex cursor-pointer items-center justify-center rounded-full border border-border bg-card px-3 py-1 text-xs font-medium text-card-foreground">
              {category}
            </span>
          ))}
        </div>
      </div>
    )
  }
</Card>
