---
import Link from "@app/ui/components/base/link.astro";
import { socials } from "@app/assets/data/socials";

import { useTranslations } from "@app/modules/i18n/lib/hooks/use-translation";

const translations = useTranslations(Astro.locals.locale);
const t = translations.socials;
---

<script>
  import tippy from "tippy.js";
  tippy("#socials a[data-tippy-content]", {
    placement: "right",
    offset: [0, 16],

    animation: "scale",
    inertia: true,
  });
</script>

<ul id="socials" class="flex w-full flex-col items-center gap-y-8">
  {
    socials.map(({ href, key, size = 28, Icon }) => {
      const translatedLabel = t[key] as string;
      return (
        <li>
          <Link {href} label={translatedLabel} withTooltip targetBlank>
            <Icon fill="white" width={size} height={size} />
          </Link>
        </li>
      );
    })
  }
</ul>

<style>
  #socials::after {
    content: "";
    position: relative;

    top: 0;
    left: -0.1rem;

    width: 2px;
    height: 4rem;
    background: white;
  }
</style>
