@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/satoshi/satoshi.woff2') format('woff2'),
    url('/fonts/satoshi/satoshi.woff') format('woff'),
    url('/fonts/satoshi/satoshi.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}