@import "./fonts.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** If dvh is supported, it will take priority, otherwise will fallback to vh. */
  --screen-safe-height: 100vh;
  --screen-safe-height: 100dvh;

  --header-height: 64px;
  --main-height: calc(var(--screen-safe-height) - var(--header-height));
}
[data-reveal] {
  animation: reveal linear both;
  animation-iteration-count: 1;

  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
