---
import { cn } from "@app/utils/style";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"button">;
const { class: clazz, ...props } = Astro.props;
---

<script>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  function handleScrollToTop() {
    const button = document.querySelector("button[data-scroll-to-top]");
    if (!button) {
      return;
    }

    const handleScroll = () => {
      if (window.scrollY > 300) {
        button.classList.remove("hidden");
        button.classList.add("animate-in", "fade-in");
      } else {
        button.classList.remove("animate-in", "fade-in");
        button.classList.add("hidden");
      }
    };

    handleScroll();
    window.addEventListener("scroll", handleScroll);
    button.addEventListener("click", scrollToTop);
  }

  handleScrollToTop();
</script>

<button
  data-scroll-to-top
  class={cn(
    "bg-background border-border border hover:bg-accent hover:text-accent-foreground text-foreground p-4 rounded-full hover:scale-110 transition duration-200",
    clazz,
  )}
  {...props}
>
  <slot>
    <Icon
      name="lucide:arrow-big-up"
      width={32}
      height={32}
    />
  </slot>
</button>
