---
import { Icon } from "astro-icon/components";
import { type Skill, getIconForSkill } from "@app/lib/data/skills";
import Badge, { type BadgeProps } from "./base/badge.astro";

export type Props = BadgeProps & {
  skill: Skill;
};

const { skill, ...props } = Astro.props;
---

<Badge
  {...props}
  class="space-x-2 whitespace-nowrap px-4 py-2 font-semibold"
>
  <Icon
    name={getIconForSkill(skill)}
    class="size-4"
  />
  <span>{skill}</span>
</Badge>
