---
import { Icon } from "astro-icon/components";
import { type Skill, getIconForSkill } from "@app/lib/data/skills";
import { cn } from "@app/utils";
import Badge, { type Props as BadgeProps } from "./base/badge.astro";

export type Props = BadgeProps & {
  skill: Skill;
};

const { skill, class: clazz, ...props } = Astro.props;
---

<Badge
  {...props}
  class={cn(
    "select-none space-x-2 whitespace-nowrap px-4 py-2 font-semibold",
    clazz,
  )}
>
  <Icon
    name={getIconForSkill(skill)}
    class="size-4"
  />
  <span>{skill}</span>
</Badge>
