---
import Link from "@app/components/base/link.astro";
import { socials } from "@app/lib/data/socials";

import { getTranslations } from "@app/modules/i18n/lib/translations";
import { Icon } from "astro-icon/components";

const translations = getTranslations(Astro.locals.locale);
const t = translations.socials;
---

<script>
  import tippy from "tippy.js";
  tippy("#socials a[data-tippy-content]", {
    placement: "right",
    theme: "socials",
    offset: [0, 16],

    animation: "scale",
    inertia: true,
  });
</script>

<ul
  id="socials"
  class="flex w-full flex-col items-center gap-y-8"
>
  {
    socials.map(({ href, i18nKey, iconKey }) => {
      const translatedLabel = t[i18nKey] as string;
      return (
        <li class="rounded-lg bg-background text-accent-foreground transition duration-200 hover:bg-accent">
          <Link
            {href}
            label={translatedLabel}
            withTooltip
            targetBlank
          >
            <Icon
              name={iconKey}
              class="box-content size-7 p-2 text-white"
            />
          </Link>
        </li>
      );
    })
  }
</ul>

<style>
  #socials::after {
    content: "";
    position: relative;

    top: 0;
    left: -0.1rem;

    width: 2px;
    height: 4rem;
    background: white;
  }
</style>

<!-- <style is:global>
  .tippy-box[data-theme~="socials"] {
    background-color: theme("colors.popover.DEFAULT");
    border: 1px solid theme("colors.border");
    border-radius: theme("borderRadius.lg");
    color: theme("colors.popover.foreground");

    font-weight: 600;
  }
</style> -->
