/* See: https://codepen.io/jh3y/pen/KKLNLxW */

/* 
  What does this do?

  At (--font-width-min)px wide, make font (--font-size-min)px 
  and by time it gets to (--font-width-max)px, it should be (--font-size-max)px.

  Font ratios are used to calculate typography steps.
*/

:root {
  --font-size-min: 16;
  --font-size-max: 21;
  --font-ratio-min: 1.2;
  --font-ratio-max: 1.3;
  --font-width-min: 280;
  --font-width-max: 1400;
}

body.fluid {
  h1 {
    --font-level: 6;
  }

  h2 {
    --font-level: 5;
  }

  h3 {
    --font-level: 4;
  }

  h4 {
    --font-level: 3;
  }

  h5 {
    --font-level: 2;
  }

  h6 {
    --font-level: 1;
  }

  p {
    --font-level: 0;
  }
}

.text-fluid,
body.fluid :is(h1, h2, h3, h4, h5, h6, p) {
  --fluid-min: calc(
    var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
  );

  --fluid-max: calc(
    var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
  );

  --fluid-preferred: calc(
    (var(--fluid-max) - var(--fluid-min)) /
      (var(--font-width-max) - var(--font-width-min))
  );

  --fluid-type: clamp(
    (var(--fluid-min) / 16) * 1rem,
    ((var(--fluid-min) / 16) * 1rem) -
      (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
      (var(--fluid-preferred) * 100vi),
    (var(--fluid-max) / 16) * 1rem
  );

  font-size: var(--fluid-type);
}

.text-fluid .fluid-scale,
body.fluid :is(h1, h2, h3, h4, h5, h6, p),
body.fluid :is(h1, h2, h3, h4, h5, h6, p) *.fluid-scale {
  font-size: calc(var(--fluid-type) * var(--fluid-scale, 1));
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi/satoshi.woff2") format("woff2"),
    url("/fonts/satoshi/satoshi.woff") format("woff"),
    url("/fonts/satoshi/satoshi.ttf") format("truetype");

  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src:
    url("/fonts/onest/onest.woff2") format("woff2"),
    url("/fonts/onest/onest.woff") format("woff"),
    url("/fonts/onest/onest.ttf") format("truetype");

  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src:
    url("/fonts/monaspace/monaspace-neon.woff2") format("woff2"),
    url("/fonts/monaspace/monaspace-neon.woff") format("woff"),
    url("/fonts/monaspace/monaspace-neon.ttf") format("truetype");

  font-weight: 200 800;
  font-stretch: 100% 125%;
  font-display: swap;
  font-style: oblique -11deg 0deg;
}

@font-face {
  font-family: "Monaspace Neon Fallback";
  src: local("Arial");

  ascent-override: 57.59%;
  descent-override: 16.01%;
  line-gap-override: 14.72%;
  size-adjust: 135.87%;
}

@layer utilities {
  .font-sans {
    font-feature-settings:
      "liga" on,
      "dlig" on;
  }

  .font-mono {
    font-feature-settings:
      "calt" on,
      "dlig" on,
      "ss01" on,
      "ss02" on,
      "ss03" on,
      "ss04" on,
      "ss05" on,
      "ss06" on,
      "ss07" on,
      "ss08" on;
  }

  .font-thin {
    font-variation-settings: "wght" 100;
  }

  .font-extralight {
    font-variation-settings: "wght" 200;
  }

  .font-light {
    font-variation-settings: "wght" 300;
  }

  .font-normal {
    font-variation-settings: "wght" 400;
  }

  .font-medium {
    font-variation-settings: "wght" 500;
  }

  .font-semibold {
    font-variation-settings: "wght" 600;
  }

  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .font-extrabold {
    font-variation-settings: "wght" 800;
  }

  .font-black {
    font-variation-settings: "wght" 900;
  }
}
