@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi/satoshi.woff2") format("woff2"),
    url("/fonts/satoshi/satoshi.woff") format("woff"),
    url("/fonts/satoshi/satoshi.ttf") format("truetype");

  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src:
    url("/fonts/onest/onest.woff2") format("woff2"),
    url("/fonts/onest/onest.woff") format("woff"),
    url("/fonts/onest/onest.ttf") format("truetype");

  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* 
  I had plans on the original design to add monospaced fonts on some content. 
  But on the final design it's not used. I will leave this here for future use.

  But prevent it from loading on the final build by commenting the @font-face block
*/

/* @font-face {
  font-family: "Monaspace Neon";
  src:
    url("/fonts/monaspace/monaspace-neon.woff2") format("woff2"),
    url("/fonts/monaspace/monaspace-neon.woff") format("woff"),
    url("/fonts/monaspace/monaspace-neon.ttf") format("truetype");

  font-weight: 200 800;
  font-stretch: 100% 125%;
  font-display: swap;
  font-style: oblique -11deg 0deg;
}

@font-face {
  font-family: "Monaspace Neon Fallback";
  src: local("Arial");

  ascent-override: 57.59%;
  descent-override: 16.01%;
  line-gap-override: 14.72%;
  size-adjust: 135.87%;
} */

@layer utilities {
  .font-sans {
    font-feature-settings:
      "liga" on,
      "dlig" on;
  }

  /* .font-mono {
    font-feature-settings:
      "calt" on,
      "dlig" on,
      "ss01" on,
      "ss02" on,
      "ss03" on,
      "ss04" on,
      "ss05" on,
      "ss06" on,
      "ss07" on,
      "ss08" on;
  } */

  .font-thin {
    font-variation-settings: "wght" 100;
  }

  .font-extralight {
    font-variation-settings: "wght" 200;
  }

  .font-light {
    font-variation-settings: "wght" 300;
  }

  .font-normal {
    font-variation-settings: "wght" 400;
  }

  .font-medium {
    font-variation-settings: "wght" 500;
  }

  .font-semibold {
    font-variation-settings: "wght" 600;
  }

  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .font-extrabold {
    font-variation-settings: "wght" 800;
  }

  .font-black {
    font-variation-settings: "wght" 900;
  }
}
