@import "./fonts.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** If dvh is supported, it will take priority, otherwise will fallback to vh. */
  --screen-safe-height: 100vh;
  --screen-safe-height: 100dvh;

  --header-height: 64px;
  --main-height: calc(var(--screen-safe-height) - var(--header-height));

  --scrollbar-color-track: transparent;
  --scrollbar-color-thumb: theme("colors.muted.DEFAULT");
  --scrollbar-color-thumb-active: theme("colors.muted.foreground");
  --scrollbar-color-thumb-hover: color-mix(
    in hsl,
    var(--scrollbar-color-thumb),
    var(--scrollbar-color-thumb-active) 50%
  );

  --scrollbar-width: thin;
  --scrollbar-width-legacy: 6px;
  --scrollbar-thumb-radius: theme("borderRadius.full");
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;

  scrollbar-gutter: stable;
}

html.lenis body {
  height: auto;
}

body {
  width: 100%;

  min-height: 100%;
  min-height: 100dvh;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

strong {
  font-weight: bold;
}

textarea {
  resize: none;
}

@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar {
    width: var(--scrollbar-width-legacy, 0);
  }

  html::-webkit-scrollbar-button {
    display: none;
  }

  html::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color-track);
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-thumb);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-thumb-hover);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }

  html::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-thumb-active);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}
