@import "./fonts.css";
@import "./theme.css";
@import "./scroll.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** If dvh is supported, it will take priority, otherwise will fallback to vh. */
  --screen-safe-height: 100vh;
  --screen-safe-height: 100dvh;

  --header-height: 64px;
  --content-height: calc(var(--screen-safe-height) - var(--header-height));
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;

  scrollbar-gutter: stable;
}

body {
  width: 100%;

  min-height: 100%;
  min-height: 100dvh;
}

strong,
b {
  font-weight: bold;
}

strong {
  color: theme("colors.primary.DEFAULT");
}

q,
blockquote {
  font-style: italic;
}

textarea {
  resize: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

code {
  @apply !font-mono;
}
