:root {
  --scrollbar-color-track: transparent;
  --scrollbar-color-thumb: theme("colors.muted.DEFAULT");
  --scrollbar-color-thumb-active: theme("colors.muted.foreground");
  --scrollbar-color-thumb-hover: color-mix(
    in hsl,
    var(--scrollbar-color-thumb),
    var(--scrollbar-color-thumb-active) 50%
  );

  --scrollbar-width: thin;
  --scrollbar-width-legacy: 6px;
  --scrollbar-thumb-radius: theme("borderRadius.full");
}

html {
  overflow-x: clip;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html.lenis body[data-scroll-locked] {
  /* 
    This fixes some issues with the Radix Dialog.

    When opened it sets overflow to hidden and that breaks 
    some scroll driven animations, which only allow "clip". 
  */
  overflow: clip !important;
}

[data-scroll-fade] {
  animation: scroll-fade linear both;
  animation-timeline: view(block 64px);
}

@keyframes scroll-fade {
  entry 0%,
  entry 20% {
    opacity: 0;
  }

  entry 50% {
    opacity: 1;
  }

  exit 50% {
    opacity: 1;
  }

  exit 95% {
    opacity: 0;
  }
}

@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar,
  [data-scroll-thin]::-webkit-scrollbar {
    width: var(--scrollbar-width-legacy, 0);
  }

  html::-webkit-scrollbar-button,
  [data-scroll-thin]::-webkit-scrollbar-button {
    display: none;
  }

  html::-webkit-scrollbar-track,
  [data-scroll-thin]::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color-track);
  }

  html::-webkit-scrollbar-thumb,
  [data-scroll-thin]::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-thumb);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }

  html::-webkit-scrollbar-thumb:hover,
  [data-scroll-thin]::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-thumb-hover);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }

  html::-webkit-scrollbar-thumb:active,
  [data-scroll-thin]::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-thumb-active);

    border-block: 2px solid transparent;
    border-radius: var(--scrollbar-thumb-radius);
    background-clip: content-box;
  }
}

@supports not selector(::-webkit-scrollbar) {
  html,
  [data-scroll-thin] {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}
