---
import { type Locale } from "@app/modules/i18n";

import ProjectCard from "./project-card.astro";
import type { ProjectData } from "../lib/types";

export type Props = {
  projects: ProjectData[];
  locale: Locale;
};

const { projects, locale } = Astro.props;
---

<ul
  class="space-y-12 py-12 sm:mx-4 lg:space-y-24"
  data-projects-list
>
  {
    projects.map(({ name, headline, description, featured, ...staticData }) => {
      return (
        <li
          data-scroll-reveal
          data-scroll-away
        >
          <ProjectCard
            name={name(locale)}
            headline={headline(locale)}
            {...staticData}
          >
            <Fragment slot="description">
              {description(locale).map((paragraph) => (
                <p
                  data-project-description
                  class="text-pretty pr-0 text-sm text-foreground/70 md:text-base xl:pr-16"
                  set:html={paragraph}
                />
              ))}
            </Fragment>
          </ProjectCard>
        </li>
      );
    })
  }
</ul>

<style>
  :global([data-project-description] a) {
    text-decoration: underline;
    text-decoration-color: theme("colors.primary.DEFAULT");
    text-underline-offset: 0.15em;
  }
</style>
