---
import { Icon } from "astro-icon/components";
---

<footer class="w-full px-2 py-6">
  <p class="text-balance text-center text-base font-semibold md:text-lg">
    <span> Designed and implemented with </span>
    <Icon
      class="animate-beat mx-px mb-px inline"
      name="heart"
      aria-label="love"
    />
    <span> by Ivan Porto </span>
  </p>
</footer>
