---
import { Icon } from "astro-icon/components";
---

<footer class="w-full px-2 py-6">
  <p class="text-balance text-center text-base font-semibold md:text-lg">
    Designed and implemented with <Icon
      class="relative bottom-px mx-px inline animate-beat"
      name="heart"
    /> by Ivan Porto
  </p>
</footer>
