---
import { LanguageSelector } from "@modules/i18n";

// For some reason, importing directly from @modules/navigation breaks the hamburger menu.
import PageLinks from "@modules/navigation/components/page-links.astro";
import { HamburgerMenu } from "@modules/navigation/components/hamburger-menu";

import { cn } from "@lib/utils/shadcn";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"header"> & {};
const { class: clazz, ...props } = Astro.props;
---

<header
  data-ensure-scrollbar-gutter
  class={cn("fixed inset-x-0 top-0 z-50 min-h-header content-center", clazz)}
  {...props}
>
  <div
    class="mx-auto flex max-w-screen-xl items-center justify-between px-6 py-4 font-header md:justify-around"
  >
    <PageLinks
      variant="header"
      class="hidden w-full justify-between md:flex"
    />

    <HamburgerMenu
      className="md:hidden"
      client:media="(max-width: 767px)"
    >
      <div
        slot="menuContent"
        class="max-h-[80vh] overflow-y-scroll svh:!max-h-[80svh]"
      >
        <PageLinks
          variant="menu"
          class="grid w-full grid-cols-1 grid-rows-[1fr,auto] [&>ul]:my-6 [&>ul]:justify-self-center"
        />
      </div>
    </HamburgerMenu>

    <LanguageSelector
      currentLocale={Astro.locals.locale}
      client:idle
    />
  </div>

  <slot />
</header>

<style>
  header {
    animation: apply-bg linear both;
    animation-timeline: scroll();
    animation-range: 0px 128px;
  }

  @keyframes apply-bg {
    to {
      background-color: theme("colors.background");
    }
  }
</style>
