---
import { cn } from "@lib/utils/shadcn";
import { Hamburguer, NavLinks } from "@modules/navigation";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"header"> & {};
const { class: clazz, ...props } = Astro.props;
---

<header
  class={cn(
    "fixed inset-x-0 top-0 z-50 min-h-header content-center bg-background",
    clazz,
  )}
  {...props}
>
  <div
    class="mx-auto flex max-w-screen-xl items-center justify-around px-6 py-4 font-header"
  >
    <NavLinks class="hidden w-full justify-between md:flex" />
    <Hamburguer class="ml-auto md:hidden" />
  </div>
</header>
