---
import { NavLinks } from "@modules/navigation";
---

<header
  class="min-h-header sticky inset-x-0 top-0 z-10 content-center bg-background"
>
  <div
    class="container mx-auto flex justify-between px-12 py-4 font-header xl:max-w-screen-xl"
  >
    <NavLinks class="flex w-full animate-fade-down justify-between" />
  </div>
</header>
