---
import Hamburguer from "@app/modules/navigation/components/hamburguer.astro";

import Link from "@app/components/base/link.astro";
import { sections } from "@app/modules/navigation/lib/sections";
import { getTranslations } from "@app/modules/i18n/lib/translations";
import { Icon } from "astro-icon/components";

const translations = getTranslations(Astro.locals.locale);
const t = translations.sections;
---

<header class="sticky inset-x-0 top-0 z-50 h-header w-full bg-background">
  <nav
    class="container mx-auto flex size-full items-center justify-between border-b border-border px-8"
  >
    <span class="text-xl font-black uppercase lg:w-1/6">Ivan Porto</span>

    <ul class="hidden items-center gap-4 font-medium uppercase lg:flex">
      {
        sections.map((section) => (
          <li>
            <Link
              href={`#${t[section].id}`}
              label={section}
            >
              {t[section].name}
            </Link>
          </li>
        ))
      }
    </ul>

    <div class="hidden w-1/6 items-center justify-end gap-6 lg:flex">
      <span>ENG</span>
      <Icon name="lucide:sun" />
    </div>

    <Hamburguer class="lg:hidden" />
  </nav>

  <hr
    id="header-separator"
    class="relative bottom-px opacity-0"
  />
</header>

<style>
  hr#header-separator {
    animation: fade-in linear both;
    animation-timeline: scroll(root);
    animation-range: 0px theme("height.hero");
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
</style>
