---
import "@app/styles/index.css";
import "tippy.js/animations/scale.css";
import "tippy.js/dist/tippy.css";

import { cn } from "@app/utils";

type Props = {
  title?: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<html
  lang={Astro.locals.locale}
  class="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <meta
      name="description"
      content={description}
    />

    <meta
      name="robots"
      content="noindex,follow"
    />

    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#0c0a09"
    />
    <meta
      name="msapplication-TileColor"
      content="#0c0a09"
    />
    <meta
      name="theme-color"
      content="#0c0a09"
    />

    <script src="@app/lib/polyfills"></script>
    <slot name="head" />

    <title>{title}</title>
  </head>

  <body
    class={cn(
      "overflow-x-clip bg-background font-sans text-foreground antialiased",
      bodyClass,
    )}
  >
    <slot />
  </body>
</html>
