---
import "@app/styles/index.css";
import "tippy.js/animations/scale.css";
import "tippy.js/dist/tippy.css";

import "@glidejs/glide/dist/css/glide.core.min.css";
import "@glidejs/glide/dist/css/glide.theme.min.css";

import { cn } from "@app/utils";

type Props = {
  title?: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<html
  lang={Astro.locals.locale}
  class="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <meta
      name="description"
      content={description}
    />

    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />

    <script
      is:inline
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>

    <slot name="head" />

    <title>{title}</title>
  </head>

  <body
    class={cn(
      "overflow-x-clip bg-background font-sans text-foreground antialiased",
      bodyClass,
    )}
  >
    <slot />
  </body>
</html>
