---
import ObservedSection from "@layouts/observed-section.astro";

import { Paragraph } from "@app/modules/i18n";
import ProjectCard from "./components/project-card.astro";
import { projects } from "./lib/data";

const { locale } = Astro.locals;
---

<ObservedSection
  class="mt-48"
  title="Some of my favourite projects"
  class="mx-auto max-w-screen-2xl px-8 md:px-12 lg:px-16"
  id="projects"
  order={2}
>
  <ul
    class="space-y-12 py-12 lg:space-y-24"
    data-projects-list
  >
    {
      projects.map(
        ({ name, headline, description, featured, ...staticData }) => {
          // This section only shows the featured ones.
          if (!featured) {
            return null;
          }

          return (
            <li
              data-scroll-reveal
              data-scroll-away
            >
              <ProjectCard
                name={name(locale)}
                headline={headline(locale)}
                {...staticData}
              >
                <Paragraph
                  slot="description"
                  class="text-pretty pr-0 text-sm text-foreground/70 md:text-base xl:pr-16"
                  text={description(locale)}
                  data-project-description
                />
              </ProjectCard>
            </li>
          );
        },
      )
    }
  </ul>
</ObservedSection>

<style>
  :global([data-project-description] a) {
    text-decoration: underline;
    text-decoration-color: theme("colors.primary.DEFAULT");
    text-underline-offset: 0.15em;
  }
</style>
