---
import { Section } from "@app/layouts";
import { getTranslations } from "@modules/i18n";

import AtWork from "./components/at-work.astro";
import Education from "./components/education.astro";
import PersonalSide from "./components/personal-side.astro";

const { locale } = Astro.locals;
const translations = getTranslations(locale);
const t = translations.sections.about;
---

<Section
  order={4}
  id={t.id}
  title={t.title}
  class="mx-auto max-w-screen-xl px-4 xs:px-8 xl:[&>h2]:mx-12"
>
  <div
    class:list={[
      "my-24 grid grid-cols-10 justify-center gap-6",
      "*:overflow-clip *:rounded-xl *:border *:bg-background *:p-8",
    ]}
  >
    <AtWork class="relative col-span-10 col-start-1 lg:col-span-6" />
    <PersonalSide
      class="col-span-10 col-start-1 lg:col-span-4 lg:col-start-7 lg:row-span-2"
    />
    <Education class="col-span-10 col-start-1 lg:col-span-6" />
  </div>
</Section>
