---
import { Section } from "@app/layouts";
import SkillGallerySvelte from "./components/skill-gallery.svelte";
import { SkillView } from "./components/skill-view";
---

<Section
  class="mt-48"
  title="Which technologies can I use?"
  class="mx-auto max-w-screen-2xl px-8 md:px-12 lg:px-16"
  id="skills"
  order={3}
>
  <SkillGallerySvelte client:load>
    <SkillView
      className="pointer-events-none absolute inset-0 m-auto aspect-square h-[80%]"
      slot="skill-view"
      client:visible={{ rootMargin: "50%" }}
    />
  </SkillGallerySvelte>
</Section>
