---
import { cn } from "@app/lib/helpers/style";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

// Extend the default attributes for extra functionality.
export type Props = HTMLAttributes<"a"> & {
  label: string;
  targetBlank?: boolean;

  withTooltip?: boolean;
  tooltipContent?: string;

  withExternalLinkArrow?: boolean;
};

const {
  label,
  href,
  class: clazz,

  withTooltip = false,
  withExternalLinkArrow = false,
  targetBlank = false,
  tooltipContent = label,

  ...props
} = Astro.props;

const optionalAttrs = {
  ...(withTooltip && { "data-tippy-content": tooltipContent }),
  ...(targetBlank && { target: "_blank" }),
};
---

<a
  {...props}
  {...optionalAttrs}
  {href}
  aria-label={label}
  rel="noopener noreferrer"
  class={cn("group", clazz)}
>
  {
    withExternalLinkArrow ? (
      <>
        <slot />
        <Icon
          name="lucide:arrow-up-right"
          class:list={[
            "relative bottom-[2px] right-px inline-block  transition-transform duration-300 will-change-transform",
            "group-hover:-translate-y-1 group-hover:translate-x-1 ",
            "group-focus-visible:-translate-y-1 group-focus-visible:translate-x-1",
          ]}
        />
      </>
    ) : (
      <slot />
    )
  }
</a>
