---
import { getTranslations } from "@app/modules/i18n/lib/translations";
import type { HTMLAttributes } from "astro/types";

import Link from "@app/ui/components/base/link.astro";
import { sections } from "../lib/sections";

export type Props = HTMLAttributes<"nav">;

const translations = getTranslations(Astro.locals.locale);
const t = translations.sections;
---

<nav {...Astro.props}>
  <ul class="flex items-center gap-4 font-medium uppercase">
    {
      sections.map((section) => (
        <li>
          <Link href={`#${t[section].id}`} label={section}>
            {t[section].name}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
