---
import type { HTMLAttributes } from "astro/types";

import { LanguageSelector, getTranslations } from "@modules/i18n";
import { Link } from "@components/base";
import { sections } from "../lib/sections";

export type Props = HTMLAttributes<"nav">;
const translations = getTranslations(Astro.locals.locale);
const t = translations.sections;
---

<script>
  import { getLenisInstance } from "@app/lib/client/scroll";

  const lenis = getLenisInstance();
  document.querySelectorAll("a[data-nav-link]").forEach(
    (link) => {
      // Make lenis scroll to the target of the link.
      link.addEventListener("click", (event) => {
        event.preventDefault();

        const target = link.href.substring(link.href.indexOf("#"));
        lenis?.scrollTo(target, {
          duration: 1.5,
          offset: -100,
        });
      });
    },
    { passive: false },
  );
</script>

<nav {...Astro.props}>
  <ul class="flex items-center gap-6 text-sm font-medium">
    {
      sections.map(({ name }) => (
        <li>
          <Link
            data-nav-link
            href={`#${t[name].id}`}
            label={name}
          >
            {t[name].name}
          </Link>
        </li>
      ))
    }
  </ul>

  <LanguageSelector
    currentLocale={Astro.locals.locale}
    client:load
  />
</nav>

<style is:global>
  [data-nav-link] {
    color: theme("colors.muted.foreground / 0.8");
  }

  [data-nav-link].active {
    color: theme("colors.foreground");
  }

  ul:not(:has([data-nav-link].active)) [data-nav-link] {
    color: theme("colors.foreground");
  }
</style>
