---
import { Section } from "@app/layouts";
import { Timeline, TimelineEntry } from "@components/timeline";

import { jobs } from "./lib/data";
import JobEntry from "./components/job-entry.astro";

const { locale, translations } = Astro.locals;
const t = translations.sections.experience;
---

<Section
  id={t.id}
  class="z-0 mx-auto max-w-screen-lg px-4 xs:px-6 sm:px-8"
  title={t.title}
  order={1}
>
  <Timeline
    client:idle
    class="ml-2 flex w-full items-start py-6 sm:ml-4 lg:ml-8"
    itemCount={jobs.length}
  >
    <ul>
      {
        jobs.map((job, index) => (
          <TimelineEntry
            index={index + 1}
            as="li"
            class="ease transition-opacity duration-300"
          >
            <JobEntry
              {...job}
              {locale}
            />
          </TimelineEntry>
        ))
      }
    </ul>
  </Timeline>
</Section>
