---
import ObservedSection from "@app/layouts/observed-section.astro";
import { getTranslations } from "@app/modules/i18n/lib/translations";
import { Image } from "astro:assets";

const translations = getTranslations(Astro.locals.locale);
const t = translations.sections.projects;
---

<ObservedSection
  id={t.id}
  class="flex w-full flex-row-reverse flex-wrap justify-center gap-24 p-12"
>
  <h2 class="mb-16 basis-full text-center text-6xl font-bold">{t.title}</h2>

  <div
    id="cards"
    class="w-1/2"
  >
    <div
      style="--index: 1"
      class="card box-border rounded-xl border-2 border-border"
    >
      <div class="card__content">Card 1</div>
    </div>
    <div
      style="--index: 2"
      class="card rounded-xl border-2 border-border"
    >
      <div class="card__content">Card 2</div>
    </div>
    <div
      style="--index: 3"
      class="card rounded-xl border-2 border-border"
    >
      <div class="card__content">Card 3</div>
    </div>
    <div
      style="--index: 4"
      class="card rounded-xl border-2 border-border"
    >
      <div class="card__content">Card 4</div>
    </div>
  </div>

  <Image
    src="https://dummyimage.com/800"
    alt="A random image from Unsplash"
    class="max-w-[800px] self-start"
    width={800}
    height={800}
  />

  <!--   <ul>
    <li>Room</li>
    <li>Home Manager</li>
    <li>Link Shortener</li>
  </ul>

  <h3 class="mt-12 text-3xl font-medium">Other</h3>
  <ul>
    <li>Tetris</li>
    <li>Isolated</li>
    <li>Covid</li>
    <li>The Izland</li>
    <li>Pirateland</li>
    <li>Sense Quiz</li>
    <li>Agar.io</li>
    <li>Channel Packer</li>
    <li>Advent JS</li>
    <li>Plataformes (Web)</li>
    <li>Sense Quiz</li>
    <li>VR Fruit Ninja</li>
  </ul> -->
</ObservedSection>

<style is:global>
  :root {
    --card-top-offset: 1em;
    --card-margin: 200px;
    --card-height: 800px;
  }

  .card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(
      var(--reverse-index) - 1
    ); /* 0-based reverse index */

    position: sticky;
    top: 100px;

    padding-top: calc(var(--index) * var(--card-top-offset));
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }

  #cards {
    --numcards: 4;
    view-timeline-name: --cards-element-scrolls-in-body;

    display: grid;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    grid-template-columns: 1fr;

    gap: var(--card-margin);

    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
  }

  .card__content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);

    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing
      var(--end-range);
  }
</style>
