---
import MyRoomImage from "@app/assets/images/my-room-project.webp";
import ProjectCard from "@app/components/project-card.astro";
import ObservedSection from "@app/layouts/observed-section.astro";
import { getTranslations } from "@app/modules/i18n/lib/translations";

const translations = getTranslations(Astro.locals.locale);
const t = translations.sections.projects;
---

<ObservedSection
  id={t.id}
  class="container mx-auto flex w-full flex-col items-center p-12"
>
  <h2 class="mb-16 text-6xl font-bold">{t.title}</h2>

  <h3 class="text-3xl font-medium">Featured</h3>

  <ProjectCard
    title="My Room In 3D"
    description="A (quite a bit more) fancy replica of my room. This was my entry to the 9th edition of the Three.js Journey monthly challenge. It scored 3rd place! 🥉"
    relatedSkills={["Blender", "TypeScript", "ThreeJS", "Git"]}
    image={MyRoomImage}
    liveLink="https://my-room.pages.dev/"
    githubLink="https://github.com/iivvaannxx/my-room"
    class="w-1/2"
  />

  <!--   <ul>
    <li>Room</li>
    <li>Home Manager</li>
    <li>Link Shortener</li>
  </ul>

  <h3 class="mt-12 text-3xl font-medium">Other</h3>
  <ul>
    <li>Tetris</li>
    <li>Isolated</li>
    <li>Covid</li>
    <li>The Izland</li>
    <li>Pirateland</li>
    <li>Sense Quiz</li>
    <li>Agar.io</li>
    <li>Channel Packer</li>
    <li>Advent JS</li>
    <li>Plataformes (Web)</li>
    <li>Sense Quiz</li>
    <li>VR Fruit Ninja</li>
  </ul> -->
</ObservedSection>
