---
import type { GetStaticPaths } from "astro";

import Page from "@app/layouts/page.astro";
import { getLocalizedStaticPaths } from "@app/modules/i18n/lib/utils/locales";

import { Canvas } from "@app/components/experience/canvas";

import Header from "@app/layouts/header.astro";
import Work from "@app/sections/work.astro";
import Projects from "@app/sections/projects/content.astro";
import Skills from "@app/sections/skills/content.astro";
import About from "@app/sections/about/content.astro";

import { SkillSprites } from "@app/sections/skills";
import Footer from "@app/layouts/footer.astro";

export const getStaticPaths = getLocalizedStaticPaths satisfies GetStaticPaths;
---

<Fragment slot="head">
  <script>
    import { getLenisInstance } from "@app/lib/scroll";

    // Enable smooth-scrolling.
    const lenis = getLenisInstance();
    lenis?.start();
  </script>
</Fragment>

<Page bodyClass="debug-screens">
  <Header />

  <Canvas client:load />

  <main class="mt-32 space-y-48">
    <!--     <Hero />
 -->
    <Work />
    <Projects />
    <Skills />
    <About />
  </main>

  <SkillSprites />

  <Footer />
</Page>
