---
import type { GetStaticPaths } from "astro";

import Page from "@app/layouts/page.astro";
import { getLocalizedStaticPaths } from "@modules/i18n/lib/utils/locales";

import { Canvas } from "@components/experience/canvas";

import Header from "@app/layouts/header.astro";
import Work from "@app/sections/work/content.astro";
import Projects from "@app/sections/projects/content.astro";
import Skills from "@app/sections/skills/content.astro";
import About from "@app/sections/about/content.astro";

import { SkillSprites } from "@app/sections/skills";
import Footer from "@app/layouts/footer.astro";
import Hero from "@app/sections/hero/content.astro";

export const getStaticPaths = getLocalizedStaticPaths satisfies GetStaticPaths;
---

<Fragment slot="head">
  <script>
    import { initLenis } from "@lib/client/scroll";

    // Enable smooth-scrolling.
    initLenis();
  </script>
</Fragment>

<Page>
  <Header
    class="animate-fade-down overflow-x-auto animate-delay-0 animate-duration-500"
  />

  <Canvas client:idle />

  <main
    class="mt-32 animate-fade-in space-y-36 opacity-0 animate-delay-300 animate-duration-300 lg:space-y-48"
  >
    <Hero />

    <Work />
    <Projects />

    <!-- <Skills /> 
    <About /> -->
  </main>

  <SkillSprites />

  <Footer />
</Page>
