---
import type { GetStaticPaths } from "astro";

import { Page } from "@app/layouts";
import { getLocalizedStaticPaths } from "@modules/i18n";

import ParticlesCanvas from "@components/particles/particle-canvas.astro";

import Header from "@app/layouts/header.astro";
import Work from "@app/sections/work/content.astro";
import Projects from "@app/sections/projects/content.astro";
import Skills from "@app/sections/skills/content.astro";
import About from "@app/sections/about/content.astro";

import { SkillSprites } from "@app/sections/skills";
import Footer from "@app/layouts/footer.astro";
import Hero from "@app/sections/hero/content.astro";
import { fade, slide } from "astro:transitions";

export const getStaticPaths = getLocalizedStaticPaths satisfies GetStaticPaths;
---

<script>
  import { initLenis } from "@lib/client/scroll";
  import tippy from "tippy.js";

  document.addEventListener("astro:page-load", () => {
    // Enable smooth-scrolling and hydrate tippy tooltips.
    initLenis();
    tippy("[data-tippy-content]", {
      placement: "right",
      offset: [0, 16],
      animation: "scale",
      inertia: true,
    });
  });
</script>

<Page
  class="relative"
  withScrollToTop
  withNoScriptFallback
>
  <Header class="overflow-x-auto" />

  <main
    vaul-drawer-wrapper
    transition:animate={slide({ duration: "1s" })}
    class="z-0 space-y-36 pt-32 lg:space-y-48"
  >
    <Hero />
    <Work />
    <Projects />
    <About />
  </main>

  <SkillSprites />
  <Footer />

  <div
    data-particles
    class="pointer-events-none absolute inset-0 top-0 -z-50 mx-auto w-full max-w-screen-lg"
  >
    <ParticlesCanvas quantity={80} />
  </div>
</Page>

<style>
  :global(body) {
    background: url(/pattern.svg) theme("colors.background");
    background-position-y: top;
    background-position-x: 40%;

    background-repeat: no-repeat;
    background-blend-mode: difference;
  }

  [data-particles] {
    height: 60vh;
    height: 60lvh;
  }

  @media (min-width: 540px) {
    [data-particles] {
      height: 50vh;
      height: 50lvh;
    }
  }

  @media screen(lg) {
    :global(body) {
      background-position-x: 50%;
    }

    [data-particles] {
      height: 40vh;
      height: 40lvh;
    }
  }
</style>
