<header class='fixed container w-full inset-x-0 mx-auto top-0 z-100 flex justify-between items-center'>

  <span>Ivan Porto</span>
  <nav>
    <ul class="flex items-center">
      <li>About</li>
      <li>Experience</li>
      <li>Education</li>
      <li>Projects</li>
      <li>Skills</li>
      <li>Contact</li>
    </ul>
  </nav>

  <div>
    <span>ENG</span>
  </div>

</header>
