---
import "@app/assets/styles/index.css";
import "tippy.js/animations/scale.css";
import "tippy.js/dist/tippy.css";

import Header from "@app/common/layout/header.astro";

import FileBadgeIcon from "~icons/lucide/file-badge";
import GithubIcon from "~icons/lucide/github";
import LinkedInIcon from "~icons/lucide/linkedin";
import SquareTerminal from "~icons/lucide/square-terminal";
import TwitterIcon from "~icons/lucide/twitter";
---

<script>
  import tippy from "tippy.js";
  tippy("[data-tippy-content]", {
    placement: "right",
    offset: [0, 16],

    animation: "scale",
    inertia: true,
  });
</script>

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <slot name="head" />
  </head>

  <body
    class="debug-screens relative bg-background font-sans text-foreground antialiased"
  >
    <Header />

    <aside
      class="fixed inset-y-0 left-0 z-50 flex w-[64px] flex-col items-center justify-end gap-4"
    >
      &gt;
      <ul class="flex w-full flex-col items-center gap-y-8">
        <li>
          <button data-tippy-content="Terminal">
            <SquareTerminal width={28} height={28} />
          </button>
        </li>
      </ul>

      <ul id="socials" class="flex w-full flex-col items-center gap-y-8">
        <li>
          <a
            data-tippy-content="LinkedIn"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
            href="https://linkedin.com/in/ivan-porto-wigner"
          >
            <LinkedInIcon width={28} height={28} />
          </a>
        </li>
        <li>
          <a
            data-tippy-content="GitHub"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/iivvaannxx"
          >
            <GithubIcon width={28} height={28} />
          </a>
        </li>
        <li>
          <a
            data-tippy-content="Twitter"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/iivanportoo"
          >
            <TwitterIcon width={28} height={28} />
          </a>
        </li>
        <li>
          <a
            data-tippy-content="Resume"
            aria-label="Resume"
            target="_blank"
            rel="noopener noreferrer"
            href="https://read.cv/ivanporto"
          >
            <FileBadgeIcon width={28} height={28} />
          </a>
        </li>
      </ul>
    </aside>

    <main class="relative w-full">
      <slot name="main" />
    </main>

    <slot />
  </body>
</html>

<style>
  :root {
    --header-height: 96px;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

    /** If supported this will be applied. */
    height: 100dvh;
  }

  body {
    width: 100%;

    min-height: 100%;
    min-height: 100dvh;
  }

  #socials::before,
  #socials::after {
    content: "";
    position: relative;

    top: 0;
    left: -0.1rem;

    width: 2px;
    height: 4rem;
    background: white;
  }
</style>
