---
import { type SkillGroup, skills } from "@app/lib/data/skills";
import SkillCard from "./skill-card.astro";

export type Props = {
  group: SkillGroup;
};

const { group } = Astro.props;
const skillsGroup = skills[group];
---

<div class="grid grid-cols-4 gap-4">
  {
    skillsGroup.map((skill) => (
      <SkillCard
        data-skill-card={skill.name}
        skill={skill.name}
        categories={skill.categories}
      />
    ))
  }
</div>
