---
import Card from "@app/components/base/card.astro";
import { Icon } from "astro-icon/components";

import {
  type Skill,
  type SkillCategory,
  getIconForSkill,
} from "@app/lib/data/skills";

import type { ComponentProps } from "astro/types";
import SkillButton from "./skill-button.svelte";

export type Props = Omit<ComponentProps<typeof Card>, "slot"> & {
  skill: Skill;
  categories: SkillCategory[];
};

const { skill, categories, ...props } = Astro.props;
---

<SkillButton
  client:visible
  name={skill}
>
  <Card
    as="div"
    class="items-center px-4 py-8 text-accent-foreground transition duration-300 hover:bg-primary/5"
    {...props}
  >
    <Icon
      name={getIconForSkill(skill)}
      width={48}
      height={48}
    />

    <div
      class="mt-6 flex w-32 flex-col items-center justify-center gap-2 space-y-2"
    >
      <p class="scale-90 truncate text-balance text-center font-bold">
        {skill}
      </p>

      <!-- <div class="flex flex-wrap justify-center gap-2">
      {
        categories.map((category) => (
          <span class="inline-flex cursor-pointer items-center justify-center rounded-full border border-border bg-card px-3 py-1 text-xs font-medium capitalize text-card-foreground">
            {category}
          </span>
        ))
      }
    </div> -->
    </div>
  </Card>
</SkillButton>
