---
import UserLocation from "@app/components/user-location.astro";
---

<section
  id="hero"
  class="relative flex size-full flex-col items-center justify-center"
>
  <div
    id="hero-bg"
    class="absolute inset-0 -z-10 size-full items-center px-5 py-24"
  >
  </div>
  <div class="container mx-auto mb-16 flex flex-col p-12 text-left">
    <h1 class="block">
      <span class="block text-5xl font-semibold text-foreground/50">
        Hello! My name is
      </span>

      <span class="block text-[8rem] font-extrabold text-primary">
        Ivan Porto
      </span>

      <span class="text-6xl font-bold">
        <span class="text-foreground/50">I'm a</span>
        <span class="text-foreground">software</span>
        <span class="text-foreground/50">developer</span>
      </span>
    </h1>

    <p class="mt-8 text-balance text-3xl font-medium text-foreground/75">
      Specialized in <strong>game development</strong>, yet passionate about
      developing <strong>any kind</strong> of software. With 6+ years of coding experience
      and 4+ years of professional experience.
    </p>
  </div>

  <div
    class="absolute bottom-0 right-0 flex items-center gap-4 p-12 text-foreground/80"
  >
    <UserLocation class="text-xl font-semibold" />
  </div>
</section>

<style>
  #hero {
    height: 100vh;
    height: 100dvh;
  }

  #hero-bg {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  }
</style>
