---
import { skills } from "@app/assets/data/skills";
import SkillCard from "@app/components/skill-card.astro";
import { getTranslations } from "@app/modules/i18n/lib/translations";
import { Example } from "@app/modules/three-fiber/components/example";

const translations = getTranslations(Astro.locals.locale);
const t = translations.sections.skills;
---

<section
  id={t.id}
  class="container mx-auto flex w-full flex-col items-center p-12"
>
  <h2 class="mb-16 text-6xl font-bold">{t.title}</h2>

  <div class="flex flex-col-reverse items-center justify-center gap-8">
    <div class="size-96">
      <Example client:idle />
    </div>

    <div class="grid grid-cols-4 gap-4">
      {
        skills.map((skill) => (
          <SkillCard
            {...skill}
            variant="default"
          />
        ))
      }
    </div>
  </div>

  <h3 class="text-3xl font-medium">Games</h3>

  <ul>
    <li>C++</li>
    <li>C#</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Nix</li>
    <li>Linux</li>
    <li>Windows</li>
  </ul>

  <ul>
    <li>Unity</li>
    <li>Unreal Engine</li>
    <li>Godot</li>
  </ul>

  <h3 class="mt-12 text-3xl font-medium">Web</h3>
  <ul>
    <li>Astro</li>
    <li>Svelte/SvelteKit</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>React/Next.js</li>
    <li>Node.js</li>
    <li>Docker</li>
    <li>HTML/CSS</li>
  </ul>

  <h3 class="mt-12 text-3xl font-medium">Tools</h3>
  <ul>
    <li>Git</li>
    <li>GitHub</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>React/Next.js</li>
    <li>Node.js</li>
    <li>Docker</li>
    <li>HTML/CSS</li>
  </ul>
</section>
